/* ESTILIZAÇÃO QUANDO O CURSOR PASSA SOBRE OS ELEMENTOS */

    /* ESTILIZAÇÃO DO LINK NA TAG NAV */ /* ESTILIZAÇÃO BOTÃO RESET */ /* ESTILIZANDO A TAG A DO FOOTER */
nav a:hover, button[class="btnReset"]:hover, section.receita h3, footer ul li a:hover{
    text-decoration: underline;     /* SUBLINHADO NO LINK */
}

/* FORM */
    /* ESILIZAÇÃO DO INPUT E TEXTAREA */
input:hover, textarea:hover{
    background-color: saddlebrown;  /* COR DE FUNDO */
    color: white;       /* COR DA FONTE */
}
    /* ESTILIZAÇÃO DOS PLACEHOLDER DO INPUT E DA TEXTAREA */
input:hover::placeholder, textarea:hover::placeholder{
    color: white;       /* COR DE FONTE */
}
/* ESTILIZAÇÃO BOTÃO CADASTRAR*/
button[id="btnCadastrar"]:hover, button[id="btnEnviar"]{
    background-color: seagreen;   /* COR DE FUNDO */  
}
/* ESTILIZAÇÃO BOTÃO RESET */
button[id="btnReset"]:hover{
    text-decoration: underline;     /* SUBLINHADO */
}
